.v-select__content .v-list .v-list-item:hover {
    background-color: #00796b39;
}

.v-chip--variant-tonal .v-chip__underlay{
    background: #00796b!important;
    opacity: 0.30!important;
}

.leaflet-div-icon { background-color: transparent; border-color: transparent }

.icon-nome-local {
    display: flex;
    gap: 2px;
    align-items: center;
}

.nome-local {
    display: flex;
    align-items: center;
    height: 1.2rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #00796b80;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.75rem;
    color: #00796b;
}